{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center">{{ question.title }}</h1>
  {% if question.image_a %}
    <img src="{{ question.image_a.url }}" alt="{{ question.image_a }}">
  {% endif %}
  {% if question.image_b %}
    <img src="{{ question.image_b.url }}" alt="{{ question.image_b }}">
  {% endif %}

  <hr>
  <p>{{ percent }} : {{ percent_1 }}</p>
  <hr>
  {% for answer in answers %}
    <p>댓글 : {{ answer.comment }}</p>
    <form action="{% url 'question:answers_delete' question.pk answer.pk %}" method="post">
      {% csrf_token %}
      <input type="submit" value="delete">
    </form>
  {% endfor %}
  <hr>
  <form action="{% url 'question:answers_create' question.pk %}" method="POST">
    {% csrf_token %}
    <input type="radio" name="pick" id="pick" value="0">{{ question.issue_a }}<br>
    <input type="radio" name="pick" id="pick" value="1">{{ question.issue_b }}<br>
    <label for="comment">COMMENT</label>
    <input type="text" name="answer" id="comment">
    <input type="submit" value="submit">
  </form>
  <a href="{% url 'question:index' %}">BACK</a>
{% endblock content %}